name: $(SourceBranchName)-$(Date:yyyyMMdd)Build-$(BuildID)
trigger:
  branches:
    include:
    - '*'
pr:
  autoCancel: true
  branches:
    include:
    - master
    - dev
    - release/*

pool:
  vmImage: 'ubuntu-latest'
strategy:
  matrix:
    Python36:
      python.version: '3.6'
    Python37:
      python.version: '3.7'
    # Python38:
    #   python.version: '3.8'

steps:
- checkout: self
  fetchDepth: 1
  lfs: false
  persistCredentials: false

- task: UsePythonVersion@0
  inputs:
    versionSpec: '$(python.version)'
  displayName: 'Use Python $(python.version)'

- script: |
    python -m pip install --upgrade pip
    pip install poetry
    poetry install -v
  displayName: 'Install dependencies'

- script: poetry run make test
  displayName: 'Lint with with flake8, mypy and Test with pytest'

- script: poetry build
  displayName: 'Build Package'

- script: make docker && make action-docker
  displayName: "Make docker Image"
