name: Test
on:
  push:
    paths-ignore:
      - ".gitignore"
      - ".envrc"
      - "azure-pipelines.yml"
      - "**.md"
      - ".vscode/**"
      - ".dependabot/**"
      - "_config.yml"
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: 3.6
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install poetry
        poetry install -v
    - name: Lint and Test with flake8, mypy and pytest
      run: poetry run make test

    - name: Build via Poetry
      run: poetry build

    - name: Build Docker Image
      run: make docker && make action-docker
