name: Test and Push Docker Images
on:
  push:
    branches:
      - dev
jobs:
    tox:
      runs-on: ubuntu-latest
      strategy:
        matrix:
          environment:
            # Run tests with Python 3.6
            - "py36"
            # Run tests with Python 3.7
            - "py37"
            # Run code checks
            - "flake8"
            # Run static type checker
            - "mypy"
          include:
            - environment: "py36"
              python: "3.6"
            - environment: "py37"
              python: "3.7"
            - environment: "flake8"
              python: "3.7"
            - environment: "mypy"
              python: "3.7"
      container:
        image: python:${{ matrix.python }}
      steps:
        - uses: actions/checkout@master
        - name: Install tox
          run: |
            python -m pip install --upgrade pip
            pip install tox poetry
            poetry install
        - name: Run tox
          run: tox -e ${{ matrix.environment }}
    docker:
        needs: tox
        steps:
        - name: Build Docker Image
          run: make docker && make action-docker

        - name: Docker Login to Registry(GitHub)
          run: echo "$DOCKER_PASSWORD" | docker login docker.pkg.github.com -u "$DOCKER_USERNAME" --password-stdin
          env:
            DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
            DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}

        - name: Docker Login to Registry(DockerHub)
          run: echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
          env:
            DOCKER_USERNAME: tprasadtp
            DOCKER_PASSWORD: ${{ secrets.DOCKERHUB_PASSWORD }}

        - name: Push Docker Images
          run: make docker-push && make action-docker-push
