on:
  push:
    branches:
      - master
      - dev
    paths-ignore:
      - ".gitignore"
      - ".envrc"
      - "**.md"
      - ".vscode/**"
      - ".dependabot/**"
      - "_config.yml"
name: dogfood
jobs:
  labels:
    name: dogfood
    runs-on: ubuntu-latest
    steps:
    - name: sync labels
      uses: tprasadtp/labels@master
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
